h1 {color: darkred; font-family: 'comic sans MS', 'comic sans', cursive;}
p {color: darkorchid; font-family: 'comic sans MS', 'comic sans', cursive;}
a {color: greenyellow; font-family: 'comic sans MS', 'comic sans', cursive;}
h2 {color: orange; font-family: 'comic sans MS', 'comic sans', cursive;}
title {color: red; font-family: 'comic sans MS', 'comic sans', cursive;}
button {color: mediumslateblue}
input {color: teal}
