h1 {color: darkred; font-family: 'comic sans MS', 'comic sans';}
p {color: darkorchid; font-family: 'comic sans MS', 'comic sans';}
a {color: greenyellow; font-family: 'comic sans MS', 'comic sans';}
h2 {color: orange; font-family: 'comic sans MS', 'comic sans';}
title {color: red; font-family: 'comic sans MS', 'comic sans';}
button {color: mediumslateblue}
input {color: teal}
